/* @keyframes NAMEで定義する
0% アニメーション開始時
100% アニメーション終了時
*/
@keyframes rotate-90-cw {
  0% { transform: rotate(0); }
  100% { transform: rotate(90deg); }
}

@keyframes scale-out-center {
  0% { 
    transform: scale(1);
    opacity: 1;
  }
  100% { 
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 1;
  }
}

@keyframes move-bottom {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
