@import url("./keyframe.css");

/*   animation: NAME 変化時間 変化タイプ 変化開始時間 アニメ終了時の状態 */
/*  ※animation: animation-nameの値 animation-durationの値 animation-timing-functionの値 animation-delayの値 animation-iteration-countの値 animation-directionの値 animation-fill-modeの値 animation-play-stateの値 */

.rotate-90-cw {
  position: absolute;
  top: calc(50% - 180px); right: 80px;
  width: 360px; height: 360px;
  background-color: #39a9d6;

  animation:  move-right 0.5s linear forwards,
              rotate-90-cw 0.4s ease 1s forwards ,
              scale-out-center 0.5s ease 1.5s forwards;
}

.text {
  opacity: 0; /* 最初は文字を非表示にする*/
  position: absolute;
  top: calc(50% - 100px); right: 120px;
  font-size: 200%;
  animation: 
    /* move-right 0.9s 1.8s forwards, */
    focus-in-expand 1s 2s forwards;
}

.box1 {
  position: absolute;
  top: 0%; left: 0%; width: 100%; /*横いっぱい*/ height: 50%; /* 半分 */
  background-color: red;
  animation: 
    move-left 0.8s ease forwards,
    move-top 0.8s 1s ease forwards;
}

.box2 {
  position: absolute;
  top: 50%; /*下半分*/ left: 0%; width: 100%; height: 50%;
  background-color: blue;
  animation: 
    move-right 0.8s ease forwards,
    move-bottom 0.8s 1s ease forwards;
}
